<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcServeer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="UsersConnection" connectionString="server=localhost; port=3306; database=test; user=root; password=Mysqlsucks123; Persist Security Info=False" />
    <!--<add name="UsersConnection" connectionString="server=localhost; port=3306; database=test; user=root; password=EnterYourPSW; Persist Security Info=False" />-->
  </connectionStrings>
</configuration>