<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<runtime>
    <gcServeer enabled="true"/>
  </runtime>-->
  <connectionStrings>
    <!--<add name="UsersConnection" connectionString="data source=ZURASAMKHARADZE\SQLEXPRESS; initial catalog=Virtual_Roulette_Db; integrated security=True; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="UsersConnection" connectionString="data source=(localdb)\mssqllocaldb; initial catalog=usTest; integrated security=True; MultipleActiveResultSets=True;" />
    <!--<add name="UsersConnection" connectionString="data source=.\SQLEXPRESS; initial catalog=Virtual_Roulette_Db; integrated security=True; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>